*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    margin: 0;
}

a:visited {
    color: blue;

}
.wrapper {
 max-width: 100%;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0 1em;
    background-color: white;
    
}

.topbar_left {
    display: flex;
    align-items: center;
}

.topbar_left h1 {
    padding-left: 1em;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.security {
    width: 40px;
    height: 40px;
    
}

.topbar_nav {
    display: flex;
    list-style: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}

a:link {
    text-decoration: none;
}

.topbar_nav li {
    padding: 0 1em;
}

.secondbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    align-items: center;
    
}

.secondbar span{
    font-weight: bold;
    transform: rotate(90deg);
    
}

.secondbar_left {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.secondbar_left img {
    width: 100px;

    padding-left: 2em;
}

.secondbar_middle {
    align-items: center;
    
}

.secondbar_middle input {
    width: 550px;
    height: 25px;
    margin-left: 4em;

    
}

.secondbar_middle button {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

}

.secondbar_middle img {
    width: 20px;

}

.secondbar_right {
    display: flex;
    align-items: center;
    
}

.secondbar_right button {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: blue;
    border-color: blue;
    padding-left: 1em;
    background-color: white;
    border-width: 1.5px;
    border-style: solid;
}

.secondbar_right_list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 1em;
}

.secondbar_right img {
    width: 30px;
    height: 30px;
}

.secondbar_right_list img {
    width: 50px;
    height: 50px;
}

.generalgrid {
    display: grid;
    grid-template-columns: 230px 1fr;
}
.firstgrid {
 /*   display: grid;
    grid-template-columns: 1fr; */
    background-color: whitesmoke;

}

.firstgrid_one {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(82,82,82);

}

.firstgrid_one li {
    display: flex;
    align-items: center;
}

.firstgrid_one img {
    width: 60px;

}

.firstgrid_two {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(82,82,82);
    
}

.firstgrid_two li {
    display: flex;
    align-items: center;
}

.firstgrid_two img {
    width: 60px;

}

.firstgrid_three {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 1em 1em 1em 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}

.firstgrid_three button {
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    
}

.firstgrid_three p {
    padding-bottom: 1em;
}
.firstgrid_three img{
    width: 30px;

}

.firstgrid_four {
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(82,82,82);
}

.firstgrid_four_bis li {
    display: flex;
    align-items: center;
    color: rgb(82,82,82);
    font-family: Arial, Helvetica, sans-serif;
    
}
.firstgrid_four_bis {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style: none;
    padding: 0 1em 1em 1em ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.firstgrid_four_bis img {
    width: 60px;

}

.firstgrid_four h1 {
    padding: 1em;
}

.firstgrid_five {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82,82,82);

}

.firstgrid_five li {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}

.firstgrid_five img {
    width: 60px;
    padding: 0;
}

.firstgrid_six {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(82,82,82);

}

.firstgrid_six li {
    display: flex;
    align-items: center;
}

.firstgrid_six_bis {
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.firstgrid_six_bis img {
    width: 60px;
}

.firstgrid_six h1 {
    padding: 1em;
    
}

.firstgrid_seven {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(82,82,82);

}
.firstgrid_seven li {
    display: flex;
    align-items: center;
}

.firstgrid_seven img {
    width: 60px;

}


.firstgrid_eight {
    color: #606060;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.firstgrid_eight a:visited {
    color: rgb(50,50,50);
}

.firstgrid_eight p {
    padding: 1em 2em;
}


.secondgrid_topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0 1em;
}

.secondgrid_topbar div {
    display: flex;
    align-items: center;


}

.secondgrid_topbar_list {
    display: flex;
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.secondgrid_topbar_list li {
    padding-left: 3em;
    font-size: 13px;
}

.secondgrid_topbar img {
    width: 40px;
    height: 40px;

}

.secondgrid_topbar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.backgroundscreen {
    background-image: url(./images/logodeyoutubemusic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 50vh;
    text-align: left;
    padding-left: 3em;

}

.backgroundscreen img {
    width: 140px;
}

.backgroundscreen h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
}

.backgroundscreen button {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}
.gridpictures {
    width: 90%;
    margin: auto;

  
}

.gridpictures button{
    color: white;
    background-color: red;
    border: 0;
    height: 30px;
    width: 130px;

}

.cncotitle{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cncotitle_left {
    display: flex;
    align-items: center;
}


.moviestitle{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}

.moviestitle_left {
    display: flex;
    align-items: center;

}

.topictitle{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    margin: 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topictitle_left {
    display: flex;
    align-items: center;
}
.recommended {
    color: grey;
    font-size: 13px;
    padding-left: 1em;
}

.trending {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.trend {
    margin: 3em 0 1em 0;
}


.gridrow1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
}

.gridrow1 h1 {
    font-weight: bold;
    font-size: 13px;
    color: black;
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow1 p{
    margin: 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.gridrow1 :last-child {
    margin-bottom: 1em;
}



.gridrow2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow2 h1 {
    font-weight: bold;
    font-size: 13px;
    color: black;
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow2 p{
    margin: 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.gridrow2 :last-child {
    margin-bottom: 1em;
}


.gridrow3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow3 h1 {
    font-weight: bold;
    font-size: 13px;
    color: black;
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow3 p{
    margin: 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.gridrow3 :last-child {
    margin-bottom: 1em;
}


.gridrow4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 13px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow4 h1 {
    font-weight: bold;
    font-size: 13px;
    color: black;
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gridrow4 p{
    margin: 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.gridrow4 :last-child {
    margin-bottom: 1em;
}
