body {
    margin: 0;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
}

.topbar_left {
    display: flex;
    align-items: center;
}

.topbar_left h1 {
    padding-left: 1em;
    font-size: 13px;
}

.security {
    width: 40px;
    height: 40px;
    padding-left: 1em;
}

.topbar_nav {
    display: flex;
    list-style: none;
    font-size: 13px;
}

a:link {
    text-decoration: none;
}

.topbar_nav li {
    padding: 0 1em;
}

.secondbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.secondbar span{
    font-weight: bold;
    transform: rotate(90deg);
    
}

.secondbar_left {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.secondbar_left img {
    width: 80px;
    height: 40px;
    padding-left: 2em;
}

.secondbar_right {
    display: flex;
    align-items: center;
    
}

.secondbar_right button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: blue;
    border-color: blue;
    padding-left: 1em;
}

.secondbar_right_list {
    display: flex;
    align-items: center;
    margin: 0;
}

.secondbar_right img {
    width: 30px;
    height: 30px;
}

.secondbar_right_list img {
    width: 50px;
    height: 50px;
}

.generalgrid {
    display: grid;
    grid-template-columns: 230px 1fr;
}
.firstgrid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: whitesmoke;

}

.firstgrid_one {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    height: 30vh;

}

.firstgrid_one img {
    width: 50px;
    height: 50px;
}

.firstgrid_two {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
    
}

.firstgrid_two img {
    width: 50px;
    height: 50px;
}

.firstgrid_three {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
}

.firstgrid_four {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;

}

.firstgrid_four_bis {
    list-style: none;
    padding: 0;

}

.firstgrid_four_bis img {
    width: 50px;
    height: 50px;
}

.firstgrid_five {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;

}

.firstgrid_five img {
    width: 50px;
    height: 50px;
    padding: 0;
}

.firstgrid_six {
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;

}

.firstgrid_six_bis {
    list-style: none;
    padding: 0;

}

.firstgrid_six_bis img {
    width: 50px;
    height: 50px;
}

.firstgrid_seven {
    list-style: none;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 1em;
}

.firstgrid_seven img {
    width: 50px;
    height: 50px;
}


.secondgrid_topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.secondgrid_topbar div {
    display: flex;
    align-items: center;


}

.secondgrid_topbar_list {
    display: flex;
    list-style: none;
    text-align: center;

}

.secondgrid_topbar_list li {
    padding-left: 1em;
    font-size: 13px;
}

.secondgrid_topbar img {
    width: 40px;
    height: 40px;
    padding-left: 1em;
}

.backgroundscreen {
    background-image: url(./images/backgroungimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50vh;
}

.backgroundscreen img {
    width: 50px;
    height: 50px;
}

.gridpictures {
    width: 100%;
}


.gridrow1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
}

.gridrow1 h1 {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.gridrow2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
}

.gridrow2 h1 {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.gridrow3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px;
    color: grey;
}

.gridrow3 h1 {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.gridrow4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 13px;
    color: grey;
}

.gridrow4 h1 {
    font-weight: bold;
    font-size: 15px;
    color: black;
}